body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "phylogram umap";
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

#logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

#logo-text {
    font-size: 35px; 
    font-weight: bold;
    font-family: 'Mulish', sans-serif; 
    margin-right: 50px;
}

#instruction-btn {
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
}

#instruction-box {
    position: absolute;
    top: 20px;  
    left: 500px;  
    width: 705px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}

.hidden {
    display: none;
}

#phylogram {
    grid-area: phylogram;
}

#umap {
    grid-area: umap;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
}